@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
     font-family: 'Josefin Sans', serif;
     

}
body{
   background-color: rgba(138, 139, 144, 0.687);


}
.header{
    width: 100%;
    height: 80px;
    background-color: #000f24;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    color: rgb(49, 45, 80);
    text-shadow: 2px 2px #f4f2f2;
    z-index: 12;

}
#icon{
    margin-right: 45%;
}
.header .search-box input{

    outline: none;
    border: none;
    width: 550px;
    height: 50px;
    font-size: 1.5rem;
    padding: 0 1rem;
    text-align: left;
}
.container{
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    margin: 100px auto;
    display: flex;
    color: white;
}
.animeInfo{
    width: 310px;
    height: 100%;
    background-color: rgba(138, 139, 144, 0.687);
    font-family: "Lucida Console", "Courier New", monospace;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
}
.anime-row{
    display: flex;
    flex-direction:column;
}
.anime-row .row{
    display: inline-flex;
    gap:20px;
    margin-left: 20rem;
}
.anime-row .text-heading{
    margin-left: 20rem;
    margin-top: 1rem;
}
.card{
    width: 250px;
    height: 300px;
    padding: 0 0 1rem 0;
    box-shadow: 5px 5px 5px rgba(243, 236, 236, 0.3);
    text-align: center;
    background-color: #000f24;
    color: rgb(213, 187, 249);
    overflow: hidden;
    position: relative;
}
.card img{
    width: 100%;
    height: 80%;
}
.anime-content{
    padding: 40px;
    margin: 80px 0;
}
.anime-content img{
    width: 200px;
}
.overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    padding: 1rem;
    text-align: justify;
    opacity: 0;
    transition: 0.9s;
    
}
.anime-info:hover .overlay{
    opacity: 4;
    height: 90%;
}
.overlay .synopsis{
    width: 80%;
    height: 10%;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
}
.mylist{
    position: absolute;
    bottom: 20px;
    right: 50px;
    padding: 0.5rem;
    background-color: rgb(173, 145, 211);
    font-size: 1rem;
    font-weight: bolder;
    box-shadow: 0 0 20px rgb(255, 253, 253);
    
}